/*
This file is from http://stallman.org
*/
p {
  font-size: 18px;
  line-height: 1.4;
}

p.desc {
  font-size: 16px;
}

li {
  font-size: 18px;
}

/*h1 {
  font-size: 40px;
}*/

div.comp {
  margin: 0 auto;
  width: 50%;
}



body {
  color: #000000;
  background-color: #FFFFFF;
  font: 22px;
  margin: 0px 20px 0px 20px;
  /* padding: 0 10px; */
}

body.dark {
  color: #ddd;
  background-color: #333;
}

a.glossary {
  border: 1px solid red;
  padding: 2px 2px;
  display: inline-block;
}

a.dark {
  color: #ff0;
}

a.dark:visited {
  color: #aa0;
}

/* Need hover for accessibility */
a:link:hover {
  color: #9932CC;
}

li {
    margin-bottom: 8px;
}

/* Header columns */

.columnt1 {
    width: 66%;
    float: left;
    text-align: center;
    border: solid 1px;
    border-radius: 4px 4px 4px 4px;
}

.columnt1 a:link:hover, .columnt1 a:visited:hover {
			    font-style: italic;
			    text-shadow: 2px 2px 9px #f44;
}

.columnt2 {
	  width: 33%;
	  float: right;
	  text-align: center;
}

.nobr {
      white-space: nowrap;
}

/* urgent action items*/
.column1 {
  width: 31%;
  float: left;
}

/* long term action items */
.column2 {
  width: 31%;
  float: left;
  border-left: solid 1px;
  border-right: solid 1px;
  margin: 0px 10px 0px 10px;
  padding: 0px 10px 0px 10px;
}

/* misc */
.column3 {
  width: 31%;
  float: left;
}

/* rest */
.rest {
  width: 100%;
  float: left;
}

:link { color: #1F00FF }
:visited { color: #9900DD }

